/* CSS Stylesheet for my website 
    by: Zailyn Tamayo
*/

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    background-color: lightgray;
}

.container-fluid {
    background-color: darkred;
    color: lightgray;
}

h2 {
    margin-left: 35px !important;
}

/* Contact Form - NOT USED */
form {
    margin-left: 35px !important;
}

/* Navigation */
.navbar-brand {
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
}

.icon-bar {
    background-color: black;
}

#socmed {
    display: inline-block !important;
    float: left !important;
}

.navbar-collapse {
    float: right;
}

nav ul {
    display: inline;
}

nav li {
    display: inline;
    padding: 10px;
}

/* Style links */
    #inline-link {
    color: darkblue !important;
    font-size: inherit;
}

#git-links {
    font-size: 20px;
    color: darkred !important;
}

a {
    color: lightgray;
}

/* Style Projects paragraphs */
#projects {
    font-size: 18px;
}

/* Pictures */
#mypic {
    border: 5px solid darkred;
    width: 200px; 
    height: 200px;
    margin: 30px;
}

/* Footer */
footer {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px !important;
}

/* Style social media icons */
.fa {
    padding: 15px;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

    /* Add a hover effect*/
    .fa:hover {
        opacity: 0.7;
    }

.fa-lg {
    padding: 5px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

/* Set a color for each icon */

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* GitHub */
.fa-github {
    background-color: gray;
    color: white;
}

/* LinkedIn */
.fa-linkedin {
    background-color: mediumblue;
    color: white;
} 

/* Hide content on Projects page */
.more {
    display: none;
}

a.showLink, a.hideLink {
    text-decoration: none;
    color: #36f;
    color: darkblue;
    font-size: 18px;
}

a.showLink:hover, a.hideLink:hover {
    text-decoration: underline;
}

/* Style for mobile-only */
@media only screen and (max-device-width: 480px)
{
    body {
        background-color: ghostwhite;
    }

    .jumbotron {
        background-color: ghostwhite;
    }

    #main {
        font-family: sans-serif !important;
        font-weight: bold !important;
    }

    #projects {
        font-family: sans-serif !important;
        font-weight: bold !important;
    }

}



