<!-- Name: Zailyn Tamayo
     Date: June 2017
     Title: Footer -->

<footer class="container-fluid text-center">
    <div>
        <!-- Add social media icons -->
        <a href="https://twitter.com/InsidiousZ88" target="_blank" class="fa fa-twitter fa-2x"></a>
        <a href="https://github.com/ztamayo/" target="_blank" class="fa fa-github fa-2x"></a>
        <a href="http://www.linkedin.com/in/zailyn-tamayo" target="_blank" class="fa fa-linkedin fa-2x"></a>
        <br />
        <!-- Email Me -->
        <br><a href="mailto:zailyn+web@gmail.com?subject=From Website"><b><u>Email Me</u></b></a>
        <br />
        <br><p>Copyright ©  2017 by Zailyn Tamayo</p>

    </div>
</footer>
